@model UrsoDto
@inject UrsinhosCarinhosos.Services.IUrsosService service
@{
    ViewData["Title"] = "Home";
}

<section class="pt-5 pb-3 text-center container">
    <div class="row">
        <div class="col mx-auto">
            <h1>Ursinhos</h1>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            <!-- Card personagem - Inicio -->
            @foreach (var personagem in Model.Personagens)
            {
                <div class="col">
                    <div class="card shadow-sm cursor-pointer" onclick="GetInfo(@personagem.Numero)">
                        <img src="@personagem.Imagem" class="card-img-top" width="100%" height="300" alt="@personagem.Nome" />
                        <div class="card-body">
                            <p class="card-text mb-0">Nº @personagem.Numero.ToString("000")</p>
                            <h3 class="card-title">@personagem.Nome</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/site.js"></script>
<script>
    let toFilter = '@Html.Raw(ViewData["Filter"])';
    filter(toFilter);
    function GetInfo(number) {
        window.location = '@Url.Action("Details", "Home")' + '?Numero=' + number;
    }
</script>
}